html {
    font-size: 14px;
}

#div1{
position:relative;
height:150px;
width:150px;
margin:0px 0px 0px 60px;
border:1px solid blue;
perspective:100px;
perspective-origin:bottom left;
}

#div2{
position:absolute;/*상위태그에서 별도로 움직여야 해서*/
padding:50px;
background:#333;
transform-style:preserve-3d;/*3d공간 생성*/
transform:rotateX(45deg);/*x축으로 45도 회전*/
}

textarea {
    resize: none;
}

::placeholder {
    text-indent: 10px;
    color: #666;
    font-size: 0.8rem;  /*14 * 0.8*/
    padding-left: 10px;
}

#t1 {
    -webkit-tab-size : 4;
    tab-size: 4;
}

#t2 {
    tab-size: 16;
}

#a {
    quotes : "#""#""#""#";
}