.background{
    background: url("../images/flower.jpg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-size: cover;
}
.transbox{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    margin: 30px;
    backdrop-filter: blur(20px);
}

/*backface*/
#div1, #div2{
    position: relative;
    height: 60px;
    width: 60px;
    background: red;
    transform: rotateY(180deg);/*좌우반전*/
    float: left;
    margin: 0px 0px 0px 10px;
}
#div1 {
    -webkit-backface-visibility: hidden;
    /* 사파리에 대한 크로스브라우징 */
    backface-visibility: hidden;
}
#div2 {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
}
.bg{
    background: lightblue url("../images/flower.jpg")no-repeat fixed center;
    background-size: 30% 30%;
    width: 100%;
    height: 400px;
}
.fixed-bg{
    background: url("../images/flower.jpg");
    min-height: 500px; /*최소한의 높이 사이즈가 500px 화면을 확대 축소해도*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;/*백그라운드 부모요소에 엘리먼트 추가 여부에 따라 사이즈가 변경됨*/
}

#myDIV{
    width: 400px;
    height: 400px;
    background-repeat: no-repeat, repeat;
    background: url("../images/flower2.jpg"), url("../images/flower.jpg");
    background-size: cover, cover;
    background-blend-mode: multiply;
}

#ex1, #ex2, #ex3 {
    border: 10px dotted black;
    padding: 15px;
    background-color: lightblue;
}

#ex1 {
    background-clip: border-box;
}

#ex2 {
    background-clip: padding-box;
}

#ex3 {
    background-clip: content-box;
}

.border {
    border : 1px solid black;
    width: 300px;
    height: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
}

.box-shadow{
    border: 1px solid black;
    width: 60vw;
    height: 10vh;
    box-shadow: 10px 15px 20px #888;
}

.btn {
    width: 20vw;
    height: 10vw;
    padding: 10px 20px;
    background: rgb(125,0,0);
    color: white;
    font-size: 2em;
    margin: 0px 10px 0px 0px; /*상, 우, 하, 좌*/
}
.border-box{
    box-sizing: border-box;
}
.content-box{
    box-sizing: content-box;
}